NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MARKET_PROVIDER=binance
NEXT_PUBLIC_SPOT_REAL_ENABLED=false
NEXT_PUBLIC_AI_REAL_ENABLED=false
NEXT_PUBLIC_QUICK_TRADE_REAL_ENABLED=false
NEXT_PUBLIC_WITHDRAW_ENABLED=false
